#content #col2 {
	width:807px;
	min-height:558px;
	float:left;
	margin-left:15px;
	margin-top:55px;
/*	border:solid 1px #cccccc; */
}

#content #col2 #title{
	margin-top:30px;
	height:60px;
	margin-bottom:20px;
	border-bottom:solid 1px #cccccc;
}

/* list css */

#list_search {
	
	height:30px;
	padding-top:10px;
}

#list_search #list_search1 {
	float:left;
	margin-top:2px;
}

#list_search #list_search2 {
	float:left;
	margin-left:300px;
	margin-top:4px;
}


#list_search #list_search3 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_search #list_search3 select {
	width:80px;
	height:21px;
	border:solid 1px #cccccc;
}

#list_search #list_search4 {
	float:left;
	margin-left:3px;
}

#list_search #list_search4 input {
	width:120px;
	height:18px;
	border:solid 1px #cccccc;
}

#list_search #list_search5 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}